/* RTL Style */

*{ 
  margin:0; 
  padding:0; 
  outline:none; 
}
html {
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word; 
  word-wrap:break-word;
  position:relative; 
  font:15px/22px arial; 
  color:#5b5b5b; 
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
img{ 
  margin:0; 
  padding:0; 
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{ 
  margin:0;
  padding:10px 0;
  color: #000;
}
p{ 
  margin:0 0 15px; 
  padding:0;
  font-size:15px; 
  line-height:normal; 
  font-weight:normal;
}
a{ 
  text-decoration:none; 
  color:#e1261c;
}
a:hover{ 
  text-decoration:none; 
  color:#333;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus,
select{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
  text-decoration:none !important;
}
ul{ 
  margin:0 15px 0 0; 
  padding:0;
}

:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;}

.clear{ 
  clear:both;
}
input.search-field {
  padding: 10px 20px;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #000;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
.middle-align{ 
  margin:0 auto; 
  padding:20px 0 20px;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box {
  /*background: #d7d7d7;*/
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: right; 
  margin-left:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  border:1px solid #bbb;
  padding:5px; 
}
.alignright, 
img.alignright { 
  display: inline; 
  float: left; 
  border:1px solid #bbb; 
  padding:5px;
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter, 
img.aligncenter {
 clear: both; 
 display: block; 
 margin-right: auto; 
 margin-left: auto; 
 margin-top:0; 
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
small{
  font-size:14px !important;
}

a.small-button{
  background:#3890cb;
  padding:5px 30px; 
  border-radius:3px;
  color:#fff;
  display:table;
  margin:0 auto;
}
a.small-button:hover{
  color:#fff;
  background:#0c5f96;
}

input[type="text"],
input[type="email"],
input[type="phno"], 
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"] {
  text-align:center;
  text-transform:uppercase;
  font-size:15px;
  padding:10px 30px; 
  background:#e1261c;
  font-weight:bold;
  color:#fff;
  border: none;
}


/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #e1261c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-sweep-to-right:hover, 
.hvr-sweep-to-right:focus, 
.hvr-sweep-to-right:active {
  color: #fff;
}
.hvr-sweep-to-right:hover:before, 
.hvr-sweep-to-right:focus:before, 
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ---------Buttons--------- */
a.button{ 
  border: 2px solid #e1261c;
  color: #e1261c;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight: bold;
}
  
/* ---------HEADER--------- */
.page-template-custom-home-page .header-image,
.header-image.bg-image img {
  display: none;
}
.header .logo {
  text-align: right;
}
.header .logo img {
  text-align: right;
  margin: 20px 0px;
}
.header .logo h1 a, .header .logo p.site-title a{
  font-size: 30px;
  font-weight: bold;
  color: #e1261c;
}
.header .logo h1, .header .logo p.site-title a{
  padding: 0;
}
.logo p.site-title {
  margin: 5px 0;
  line-height: 1.2;
}
.header .logo p {
  font-size: 12px;
  color: #333;
}
.header .header-top{
  background:#000;
  color:#aaaaaa;
}
.header .header-top a{
  color:#aaaaaa;
}
.header .top-contact {
  padding: 20px 0;
  font-size: 15px;
  text-align: left;
  color: #fff;
}
.topbar {
  background: #000;
  padding: 8px 0;
}
.top-contact {
  color: #fff;
  font-size: 11px;
}
.top-contact i {
  color: #e1261c;
  margin-left: 4%;
}
.topbar .custom-social-icons {
  text-align: left;
}
.topbar .custom-social-icons h3 {
  display: none;
}
.topbar .custom-social-icons i {
  color: #fff;
  padding: 0px 10px;
}
.topbar .custom-social-icons i:hover {
  color: #e1261c;
}
.search_form label {
    width: 88%;
}

.side_search input[type="search"] {
    border: 1px #ddd solid;
    padding: 10px;
    background: transparent;
    width: 100%;
    border-left: none;
}
.side_search input[type="submit"] {
    background: #e1261c url(images/icon.png) no-repeat scroll 20px 13px;
    text-indent: -9999px;
    padding: 11px 27px;
    margin: 0;
    float: left;
    border-bottom-left-radius: 6px;
    width: 12%;
    border-top-left-radius: 6px;
}
.search_form {
  margin: 15px 0;
}
.buttonbox a{
  background:#3890cb;
  color:#fff;
  padding:8px 15px;
  display:block;
  margin:27px 0 0 0;
  border-radius:5px;
  text-align:center;
}
.buttonbox a:hover{
  background:#000;
  color:#fff;
}
.menubox {
  background: #eee;
}
.top-right a{
  color:#ffffff;
}
p.mail a:hover{
  color:#fd912f!important;
}
.top-right p {
  display: inline-table;
  padding-top:17px;
  padding-right:17px;
  color:#ffffff;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-navigation li{
  display: inline-block;
}
.main-navigation a{
  display: block;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 15px;
}
.main-navigation a:hover{
  color: #e1261c;
}
.main-navigation a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 90%;
  border-top: 4px solid #e1261c;
  border-bottom: 4px solid #e1261c;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 50%;
}
.main-navigation ul ul a{
  color: #000 ;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  color: #e1261c;
  padding-right: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  right: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}
/* Homepage */
.subbox {
  border-bottom: solid 1px #ddd;
  width: 100%;
  float: right;
}
.content-box h4 {
  padding: 0;
  font-size: 13px;
  color: #333;
  font-weight: 600;
}
.content-box {
  padding-top: 15px;
  letter-spacing: 1px;
}
.padremove {
  padding: 0;
}
.cat-drop {
  overflow-y: scroll;
  height: 340px;
}
li.drp_dwn_menu img {
  width: 20%;
  margin-left: 30px;
}
li.drp_dwn_menu {
  list-style: none;
  border-bottom: solid 1px #ddd;
  padding: 5px;
}
li.drp_dwn_menu a {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.font-image i,
.categry-header i {
  color: #000;
  font-size: 15px;
}
.page-template-custom-home-page .cat-color{
  background: #ddd;
}
.categry-header {
  position: absolute;
  top: -30px;
  padding: 0 18px;
}
.categry-header span {
  margin-right: 2em;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.box-image {
  margin-bottom: 10px;
}
.our-products {
  padding: 3% 0;
}
.our-products .woocommerce ul.products li.product,
.our-products .woocommerce-page ul.products li.product {
    width: 23%;
}
/* Headings */
section h2{
  font-weight:bold; 
  text-align:center; 
  margin:0 0 45px;
  padding:0;
  text-transform:uppercase;
}
section h3{
  font-weight:bold; 
  text-align:center;
  margin:30px 0 0 0;
  text-transform:uppercase;
}
section h4{
  color:#000; 
  font-weight:bold;
  font-size:18px;
}
section h5{
  color:#3890cb; 
  font-weight:bold;
  font-size:24px;
  margin:0 0 10px 0;
  padding:0;
}
.new-line,
.box-content p{
  margin-bottom: 2em;
}
.box-content h3{
  color:#000;
  font-weight: bold;
}
.text-center{
  text-align: center!important;
}
a.r_button {
  background: #3790ca;
  padding: 0.5em 2em;
  color: #fff;
}
/*----------Sticky Header------*/
.header-fixed {
  position: fixed;
  top:0; right:0;
  width: 100%;
  background: #eee;
  border-bottom: 2px solid #dadadc;
  z-index: 999999;
}
/*----------- PRELOADER ----------*/

#preloader  {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  height: 100%;
}
#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px -100px 0 0;
}
/* Footer Section */
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  font-size: 20px;
  display: none;
  color: #fff !important;
  padding: 10px;
  background: #e1261c;
}
.scrollup.left i{
  right: 10px;
}
.scrollup.center i{
  right: 50%;
  left: 50%;
}
/* Footer Section */
.footer a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.footer li a:hover {
  color: #e1261c;
}
.footer ins span,
.footer .tagcloud a {
  color: #6e6e6e;
}
.copyright img{
  text-align: left;
}
.footer input[type="submit"] {
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px;
  width: 100%;
}
.footer label{
  width: 100%;
}
.footer .search-form .search-field {
  width: 100%;
  padding: 8px;
}
.footer caption,.sidebar caption {
  font-weight: bold;
  color: #6e6e6e;
  font-size: 20px;
}
.footer table,
.footer th,
.footer td,
.sidebar table,
.sidebar th,
.sidebar td{
  border: 1px solid #6e6e6e;
  text-align: center;
}
.footer th,.footer td{
  padding: 10px;
  color: #fff;
  text-align: center;
}
.footer li a {
  color: #fff;
  font-size: 15px;
}
.footer ul li {
  list-style: none;
  padding: 5px 0;
  color: #fff;
}
.footer ul {
  margin: 0;
}
.sidebar select ,.footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
.footer .custom-social-icons i {
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
  color: #fff;
  border: 1px solid;
}
.footer .custom-social-icons i:hover {
  background: #e1261c;
}
.footer {
  text-align: right;
  background: #222222;
}
.footer h3{
  color: #e1261c;
  text-align:right;
  text-transform:uppercase; 
  font-size: 18px;
  padding:0 0 17px 0;
  letter-spacing: 1px;
  font-weight: 600;
}

h3.navigate {
  color: #fff;
  font-size: 17px;
  border-bottom: 10px solid #e1261c;
  border-bottom-style: double;
}
.sec {
  margin: 1em 0;
}
.sec a{
  color:#fff !important;
}
.footer p{
  color: #fff;
  font-size:15px;
}
.navigate  ul{
  list-style: none;
}
.footer ul li.current_page_item a {
  color:#fff!important;
}
.footer .news-form{
  margin-top:24px;
}
.copyright.text-center a {
    color: #fff;
}
.copyright p{
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.footer-2{
  background: #222222;
  padding: 15px;
  border-top: 2px solid #e1261c;
}
.footer span.woocommerce-Price-amount.amount{
  color: #fff
}
.footer .widget_shopping_cart .buttons a, .footer.widget_shopping_cart .buttons a, .footer .widget_price_filter .price_slider_amount .button, .footer .price_label{
  color: #fff;
}
.footer .widget_shopping_cart .buttons a:hover, .footer.widget_shopping_cart .buttons a:hover, .footer .widget_price_filter .price_slider_amount .button:hover{
  color: #000;
}
.footer .widget_price_filter .ui-slider .ui-slider-range, .footer .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #fff;
}
.footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #e1261c;
}
.footer .woocommerce-product-search button{
  font-size: 15px;
  width: 94%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #e1261c;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
}
#gallery-1 .gallery-item{
  margin-top: 0;
  margin-bottom: 10px;
}
dt.gallery-icon.portrait {
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}
#gallery-1 img{
  border:none;
}
 .footer aside {
  padding-top: 20px;
}

/* --------- Woocommerce ------- */
.woocommerce .sidebar {
  margin: 2% 0;
}
span.tagged_as {
  display: block;
}
.woocommerce-product-gallery__image{
  padding: 2px;
}
span.woocommerce-input-wrapper {
  width: 100%;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img{
  width: 50px;
}
.woocommerce li.product:hover {
  background: #eee;
  box-shadow: 0 0 15px 1px #000;
}
li.drp_dwn_menu:hover {
  background: #eee;
  cursor: pointer;
}
li.drp_dwn_menu a:hover {
  color: #e1261c;
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
  background-color: #e1261c;
}
.woocommerce li.product {
  background: #efefef;
  padding: 10px !important;
}
h2.woocommerce-loop-product__title {
  text-align: right;
  color: #333;
  font-size: 15px ;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: none;
}
span.woocommerce-Price-amount.amount {
  font-size: 13px;
  color: #333;
  text-decoration: inherit;
}
span.price {
  width: 50%;
  float: right;
}
.woocommerce ul.products li.product .price{
  text-align: right;
}
.woocommerce ul.products li.product .button {
  margin-top: 0px;
  width: 20%;
  float: left;
  text-indent: -9999px;
  color: #fff;
  background: url(images/cart.png) no-repeat;
  font-size: 13px;
  text-align: center;
}
.woocommerce span.onsale {
  background: #eee;
  border-radius: 0;
  color: #333;
  border: solid 1px #333;
}
.our-products h2 {
  padding: 0px;
  font-size: 25px;
  color: #000;
  text-transform: none !important;
  margin-top: 0px;
  margin-bottom: 2%;
}
.our-products h2.woocommerce-loop-product__title{
  font-size: 20px !important;
}
select.orderby {
  padding: 5px;
  margin-bottom: 5%;
}
.our-products .star-rating {
  display: none;
}
nav.woocommerce-MyAccount-navigation ul {
  margin: 0 !important;
}img.attachment-vw-ecommerce-shop-post-image.size-vw-ecommerce-shop-post-image.wp-post-image {
    display: none;
}
.sidebar input[type="submit"] {
    background: #e1261c;
}
.woocommerce div.product form.cart .button:hover{
  background-color: #e1261c;
}
.woocommerce #review_form #respond .form-submit input {
    background-color: #e1261c;
    color:#fff;
  }
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button, .woocommerce-page .woocommerce-error .button, .woocommerce-page .woocommerce-info .button, .woocommerce-page .woocommerce-message .button:hover{
  background-color: #e1261c;
  color:#fff;
}
.woocommerce .cart .button, .woocommerce .cart input.button:hover {
  background-color: #e1261c;
  color:#fff;
}
a.checkout-button.button.alt.wc-forward:hover {
    background-color: #e1261c;
}
.col-2,.col-1 {
  max-width: 100%;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button:hover{
   background-color: #e1261c;
}
nav.woocommerce-MyAccount-navigation a {
    color: #fff;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link{
  background-color: #e1261c;
  padding: 20px;
  margin-bottom: 7px;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-account .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a{
  margin-top: 20px;
}
.woocommerce .quantity .qty {
  width: 3.631em;
  text-align: center;
  padding: 4px 0px;
}
.woocommerce div.product .product_title {
  clear: none;
  margin-top: 0;
  padding: 0;
  font-size: 30px;
}
.woocommerce-Reviews #comments ol li{
  padding: 0 !important;
}
.woocommerce-Reviews #comments p{
  float: none;
}
.woocommerce #reviews #comments h2 {
  font-size: 25px;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 5px;
}
.select2-container .select2-selection--single{
  padding: 5px;
  height: auto;
}
input#billing_phone{
  padding: 10px 10px;
}
/* --------- Blog Page ------- */
h3.section-title {
  border-bottom: solid 1px #ccc;
  margin-bottom: 2%;
}
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
}
#our-services {
  margin-top: 0;
}
.post-main-box {
  float: right;
  width: 100%;
  background: #fff;
  padding: 15px;
  margin-bottom: 5%;
  border: 1px solid #eee;
}
.post-main-box h2 {
  text-align: right;
}
.post-main-box h2 {
  color: #e1261c;
  text-transform: none;
  font-size: 25px;
  letter-spacing: 1px;   
}
.new-text p,
#our-services p {
  font-size: 13px;
  letter-spacing: 1px;
  color: #333;
  line-height: 20px;
}
.datebox {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.date-monthwrap {
  background: #e1261c;
  padding: 25px 0;
}
.yearwrap {
  background: #f5564d;
  padding: 7px 0;
  opacity: 0.8;
}
.blogbutton-small {
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 25px;
  border: 2px solid #e1261c;
  color: #e1261c;
  font-size: 14px;
  text-transform: uppercase;
}
.content-bttn i {
  margin-right: 1%;
}
#full-width-blog .postbox{
  height:355px;
}
#blog-right-sidebar .postbox img,
#blog-left-sidebar .postbox img{
  height:250px;
}
#blog-left-sidebar .postbox img:hover{
  border:1px solid #d3da36
}
.postbox {
  margin-bottom:39px;
  border-bottom:2px dotted #7e7e7e;
  padding:0 0 26px;
}
.postbox h2{
  margin:0 0 5px; 
  font-weight:bold;
}
.postbox  a.blogbutton {
  background:none;
  color:#fff;
  font-size:12px; 
  font-weight:bold;
  padding:6px 25px;
  border:1px solid #000;
  font-size:18px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}
.metabox{
  color: #222;
  padding: 10px;
  clear: both;
  font-size: 15px;
}
.metabox span,
.metabox a{
  margin-left:10px;
  color: #000;
}
.metabox i{
  color: #e1261c;
  margin-left:5px;
}
h1.single-post-title{
  margin-top: 0;
  padding-top: 0;
  color: #e1261c;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
}
.content-vw  h6{
  margin:0 0 15px;
  font-size:18px;
  padding:0; 
}
.page-header{
  border-bottom: none!important;
}
.feature-image-box img{
  width:100%!important;
}
.entry-content a, .footer .textwidget p a{
  color: #e1261c;
  text-decoration: underline;
}
.tags {
  padding-top: 20px;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
  /* border-radius: 3px; */
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.single-post .metabox{
  color: #000;
  clear: both;
  font-size: 12px;
  letter-spacing: 1px;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  text-align: right;
}
.date-month a, .date-day a, .date-year a {
  color: #fff;
}
.entry-date a{
  color: #222;
}
.entry-audio audio,iframe {
  width: 100%;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: right;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
#blog{
  padding-top:0;
  margin-top:0;
}
.blog-post h5{
  text-transform:uppercase;
  color: #000;
}
.feature-image-box{
  width:100%; 
}
.feature-image-box img{
  height:230px;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-left:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding:5px 15px;
}
/* Comments BOX */
#comments ol {
    list-style: none;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#e1261c !important;
  padding:10px 40px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-right:0;
  border: none;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#e1261c;
  padding:5px 15px;
}  
#comments a.comment-reply-link:hover{
  background:#ddd;
  color: #000;
}  
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
} 
.content-vw #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
  display:inline-block;
}  
.content-vw #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  float:left;
}
#comments .comment-author{
  width:100%;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}
#comments p {
  width:100%;
  float:right;
} 
#comments ol li {
  width: 100%;
  list-style: none;
  margin: 0 0 20px !important;
  padding: 20px !important;
  background: #fff;
  display: inline-block;
  border: solid 1px #f0f0f0;
}
.reply {
  margin-bottom: 15px;
  width: 100%;
  float: right;
}
/*----------single-post-comments---------*/
.comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: right;
}
.comment-meta.commentmetadata {
  float: left;
  width: 50%;
  text-align: left;
}
.comments p {
  width: 90%;
  float: right;
}
.comments .reply {
  float: right;
}
/* --------- SLIDER--------- */
.slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
.slider img {
  width: 100%;
  opacity: 0.7;
}
.slider .carousel-item-next,.slider .carousel-item-prev,.slider .carousel-item.active {
  display: block !important;
}
.slider .carousel-control-prev-icon i, .slider .carousel-control-next-icon i{
  color: #fff;
  font-size: 20px;
}
.slider .carousel-control-next, .slider .carousel-control-prev{
  opacity: 1;
  top:0;
}
.slider .carousel-control-next-icon, .slider .carousel-control-prev-icon{
  width: auto !important;
  height: auto;
  background:transparent !important;
}
.slider .carousel-caption{
  top: 40%;
  transform: translateY(-50%);
  left: 33%;
  right: 12%;
  padding-top: 0;
}
.slider .inner_carousel h1 {
  margin-bottom: 10px;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.slider .inner_carousel p {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 2;
}
.slider .inner_carousel {
  text-align:right;
  color: #fff;
}
.slider .more-btn a{
  padding: 10px 25px;
  font-weight: bold;
  font-size: 14px;
  color: #e1261c;
  border-radius: 5px;
  text-decoration: none;
  background-color: #fff;
}
.slider .more-btn{
  margin: 25px 0;
}
/*---- slider end-------*/
a.blog-more{ 
  display:inline-block; 
  font:400 16px 'Roboto Condensed', sans-serif; 
  padding:10px 30px; 
  margin-top:21px; 
  border-radius:4px; 
  -moz-border-radius:4px; 
  -webkit-border-radius:4px; 
  -o-border-radius:4px;
  -ms-border-radius:4px; 
  margin-left:15px;
}

/* Sidebar */
.sidebar .custom-social-icons i {
  width: 40px;
  border: 1px solid;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
  color: #e1261c;
}
.sidebar .custom-social-icons i:hover {
  background: #e1261c;
  color: #fff;
}
.sidebar td#prev a {
  color: #e1261c;
}
.sidebar caption {
  font-weight: bold;
  color: #e1261c;
  font-size: 20px;
}
.sidebar table,.sidebar th,.sidebar td {
  border: 1px solid #d1d1d1;
  text-align: center;
}
.sidebar td {
  padding: 7px;
  color: #e1261c;
}
.sidebar th {
  text-align: center;
  padding: 5px;
  color: #e1261c;
}
.sidebar select {
  padding: 10px 5px;
  color: #333;
}
.sidebar form{
  display: table;
  width: 100%;
  border: solid 1px #ddd;
}
.sidebar h3 {
  margin: 0 0 15px;
  padding: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 25px;
  padding: 10px 0px;
  text-align: right;
  color: #e1261c;
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 3px double #ddd;
}
.sidebar ul li::before {
  content: "" !important;
  margin-left: 10px !important;
  height: 8px !important;
  width: 8px !important;
  background: #e1261c !important;
  display: inline-block !important;
  transform: rotate(45deg) !important;
}
.sidebar input[type="search"] {
  padding:10px 10px;
  border:none;
  font-size:15px;
  color:#000;
  width:97%;
}
.sidebar label{
  width:70%;
  float:right;
  margin-bottom: 0;
}
.sidebar input[type="submit"]{
  background:#e1261c;
  border:none;
  color:#fff;
  padding:10px 0;width:30%;
  font-size:14px;
  float:right;margin:0;
}
.sidebar aside {
  margin-bottom: 30px;
}
.sidebar .widget {
  border: 1px solid #ddd;
  padding: 10px 15px;
  background: #fff;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
}
.sidebar ul li{
  padding: 15px 2px 15px 0;
  border-bottom: 1px solid #ddd;
}
.sidebar ul li a {
  color: #000;
  letter-spacing: 1px;
  font-size: 15px;
}
.sidebar .tagcloud a,
.footer .tagcloud a{
  background:#eeeeee;
  color:#000;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
.sidebar .tagcloud a:hover,
.footer .tagcloud a:hover{
  background:#e1261c;
  color: #fff;
}
.sidebar .woocommerce-product-search button{
  font-size: 15px;
  width: 97%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #e1261c;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
}
.sidebar .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
.sidebar form.woocommerce-product-search{
  border: none;
}
.sidebar .widget_shopping_cart .buttons a, .sidebar.widget_shopping_cart .buttons a, .sidebar .widget_price_filter .price_slider_amount .button{
  color: #fff;
}
.sidebar .widget_shopping_cart .buttons a:hover, .sidebar.widget_shopping_cart .buttons a:hover, .sidebar .widget_price_filter .price_slider_amount .button:hover{
  color: #000;
}
.sidebar .widget .woocommerce .widget_price_filter form{
  border: none;
}
.sidebar .widget_price_filter .ui-slider .ui-slider-range, .sidebar .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #e1261c;
}
.sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
.sidebar ul.cart_list li::before, .sidebar ul.product_list_widget li::before {
  content: "" !important;
  margin-left: 10px !important;
  height: 8px !important;
  width: 8px !important;
  background: #e1261c !important;
  display: inline-block !important;
  transform: rotate(45deg) !important;
  position: relative;
  top: 20px;
  right: -20px;
}
.sidebar ul.cart_list li, .sidebar ul.product_list_widget li {
  padding: 4px 20px 4px 0;
}
.sidebar .widget_rating_filter ul li{
  border-bottom: none;
}
.sidebar .widget_shopping_cart .cart_list li a.remove, .sidebar.widget_shopping_cart .cart_list li a.remove{
  display: none;
}
.sidebar .widget_price_filter form {
  border: none;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:right;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:left;
  font-size: 18px;
}
.nav-previous{
  text-align:right;
  font-size: 18px;
}

/* Page */
.title-box{
  background-repeat:no-repeat;
  background-size:100% 100%; 
  color:#fff; 
  text-transform:uppercase;
  padding:75px 0; 
  font-weight:bold; 
  text-align:center;
  margin-bottom:25px;
}
.single .title-box{
  background-size:100% 100%;
}
.content-vw p{
  text-align:justify;
  line-height: 1.5; 
  font-size: 15px; 
  margin:0 0 20px 0;
  color: #333;
}
.content-vw hr{
  border:none;
  border-bottom:2px dotted #7e7e7e;
  margin:20px 0; 
  clear:both;
}
.content-vw  h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0; 
}
.content-vw h2{
  font-size:32px;
  padding:0;
  margin:0 0 25px; 
}
.content-vw h3{
  font-size:36px; 
  padding:0;
  margin:0 0 25px; 
}
.content-vw h4{
  font-size:20px; 
  padding:0; 
  margin:0 0 25px;
}
.content-vw ul{
  list-style:none;
  margin:0 10px 0 0;
  padding:10px 0 0; 
  font-size:16px;
}
.content-vw ol{
  list-style: none;
  margin:0 15px 0 0;
  padding:10px 0 0 0; 
  font-size:16px;
  counter-reset: myCounter;
}
.content-vw ol li ol li{
  margin:0 0 20px 0;
  padding:0 35px 0 0;
}
.content-vw ol li{
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
.content-vw  h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0; 
}
.read-moresec{
  margin:2% 0;
}
.page-content, .page-content p {
    text-align: center;
}
.page-content p {
  margin: 0;
  padding: 0;
}
.page-content .read-moresec{
  margin: 0;
  margin-bottom: 20px;
}
/* Pagination */
.pagination {
  clear:both;position:relative;font-size:14px; /* Pagination text size */
  line-height:13px;
  float:left; /* Pagination float direction */
  font-weight:bold;width:100%;
}
 
.pagination span, .pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 5px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#000; /* Pagination text color */
  border: solid 2px #e1261c;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
 
.pagination a:hover{
  color:#fff;
  background: #e1261c; /* Pagination background on hover */
}
 
.pagination .current {
  padding: 10px 15px;
  background: #e1261c;
  color: #fff;
  font-weight: bold;
  border: solid 2px #e1261c;
}
.content-vw .pagination ul{
  margin:0;
  clear:both;
}
.content-vw .pagination ul li{
  margin:0;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.post-navigation .post-title { 
  font-size: 20px; 
  line-height: 1.25; 
}
/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
  display: block;
}
.nav-next {
  float: left;
  width: 50%;
  text-align: left;
}
.nav-previous {
  width: 50%;
  float: right;
  text-align: right;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin: 10px 0;
  padding: 15px;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}
/* restore screen-reader-text */
.nav-previous {
    float: right;
    width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation .page-numbers { 
  display: inline-block; 
}
.post-navigation a:hover { 
  color: #e1261c;
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #000; 
  font-size: 13px;
  letter-spacing: 0.076923077em; 
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  font-size: 20px; 
  font-weight: 700;  
  line-height: 1.2173913043; 
  text-rendering: optimizeLegibility;
}
.post-navigation:before {
  left: 0;
}
.post-navigation:after {
  left: 54px;
}
.post-navigation a:hover,
.post-navigation a:focus {
  color: #e1261c;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
/* reset screen-reader-text */
.post-navigation .current .screen-reader-text {
  position: static !important;
}
.post-navigation .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 -0.7368421053em 0 0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  left: 54px;
}
/*media*/
@media screen and (max-width:768px) {
  .top-contact {
      font-size: 14px;
      margin: 5px 0;
      text-align: center;
  }
  .slider .more-btn a{
    padding: 10px 9px; 
  }
  .cat-drop {
    overflow-y: scroll;
    height: auto;
  }
  .middle-align {
    margin: 0 auto;
    padding: 15px 15px;;
  }
  .nav-links {
    margin-bottom: 20px;
  }
}
@media screen and (max-width:720px) {  
  .our-products .woocommerce ul.products li.product, 
  .our-products .woocommerce-page ul.products li.product,
  .woocommerce ul.products[class*=columns-] li.product, 
  .woocommerce-page ul.products[class*=columns-] li.product{
    width: 100%;
  }
  .search_form label {
    width: 81%;
  }
  .padremove{
    padding: 0 15px;
  }
  .slider .carousel-caption{
    left: 12%;
  }
  .topbar,
  .slider .inner_carousel,
  .topbar .custom-social-icons,
  .header .logo{
    text-align: center;
  }
  .top-right.text-right{
    text-align:center!important;
  }
  .slider .inner_carousel h1,
  .slider .inner_carousel p{
    display: none;
  }
  .slider .more-btn{
    margin: 0px;
  }
  .slider .carousel-control-next, .slider .carousel-control-prev{
    top:0;
  }
  .categry-header {
    position: static;
    padding: 18px;
  }/*
  .inner-service {
    margin: 20px;
  }*/
  h1.page-title {
    margin-bottom: 1%;
    margin-top: 0;
    padding: 0px 20px;
  }
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-nav {
    display: none;
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
  }
  .toggle-nav i {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background: #e1261c;
    border-radius: 5px;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    right: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
    overflow-y: scroll;
    background: #fff ;
    background-size: 100% 100%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    display: block !important;
    color: #000;
    border:none;
    background: transparent;
    margin-top: 0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-left: none;
    border-top: 1px solid #f1f1f1;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-right:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-right: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-right: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: right;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    right: 0px;
    width: 0px;
  }
  #mySidenav {
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
    z-index: 999999;
    width: 100%;
    top: -110%;
  }
    .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px){
  .our-products .woocommerce ul.products li.product, .our-products .woocommerce-page ul.products li.product{
    width: 49%;
  }
  .topbar .custom-social-icons{
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px){
  .categry-header{
    padding: 0 7px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .search_form label {
    width: 83%;
  }
  .slider .inner_carousel p{
    display: none;
  }
  .cat-drop{
    height: 212px;
  }
  .our-products h2{
    margin-bottom: 4%;
  }
  .sidebar input[type="submit"]{
    width: 34%;
  }
  .sidebar label{
    width: 66%;
  }
  .footer th, .footer td,
  .sidebar th, .sidebar td{
    padding: 2px;
  }
}
@media screen and (min-width: 425px) and (max-width: 720px){
  .search_form label {
    width: 86%;
  }
}